/* TYPOGRAPHY */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");

/**** RESET ****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: var(--darkGrayishBlue);
}

/**** VARIABLES ****/

/* COLORS */

:root {
  --darkCyan: hsl(158, 36%, 37%);
  --veryDarkCyan: hsl(158, 25%, 15%);
  --cream: hsl(30, 38%, 92%);
  --veryDarkBlue: hsl(212, 21%, 48%);
  --darkGrayishBlue: hsl(228, 12%, 48%);
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--cream);
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  width: 340px;
  margin: 2rem 1rem;
  border-radius: 10px;
  background-color: white;
}

@media screen and (min-width: 768px) {
  main {
    flex-direction: row;
    width: 600px;
  }
}

.image {
  background-image: url(../images/image-product-mobile.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 240px;
  border-radius: 10px 10px 0 0;
}

@media screen and (min-width: 768px) {
  .image {
    background-image: url(../images/image-product-desktop.jpg);
    width: 50%;
    height: 450px;
    border-radius: 10px 0 0 10px;
  }
}

.text {
  padding: 1.3rem;
}

@media screen and (min-width: 768px) {
  .text {
    width: 50%;
  }
}

.preview {
  color: var(--veryDarkBlue);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

h1 {
  font-family: "Fraunces", serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: black;
  margin: 1rem 0 0.8rem 0;
}

.description {
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

.current {
  font-family: "Fraunces", serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--darkCyan);
}

.original {
  text-decoration: line-through;
  margin-left: 2rem;
  vertical-align: super;
}

.price {
  margin-bottom: 1rem;
}

button {
  background-color: var(--darkCyan);
  height: 4rem;
  border: none;
  border-radius: 10px;
  color: white;

  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

button:hover,
button:focus {
  cursor: pointer;
  background-color: var(--veryDarkCyan);
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.btnText {
  margin-bottom: 5px;
}
